@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    vertical-align: baseline;
    scroll-behavior: smooth;
    color: black;
}


nav ul {
    max-width: 40vw;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;

}

nav li {
    margin-top: 1rem;
}

nav li a {
    font-size: 1.4rem;
    color: white;
    font-weight: 200;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

.homepage-section h2 {
    font-size: 2rem;
}

header {
    background-image: url('../images/hero-image-adjusted.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 500px;
    width: 100vw;
}

.hero-header {
    text-align: center;
    background-color: rgba(25, 25, 25, 0.6);

}

.hero::after {
    background-color: black;
}


header h1 {
    font-size: 60px;
    top: 0px;
    color: white;
    margin-top: 
}

header p {
    color: white;
}


.skip-link {
    position:absolute;
    top: -20px;
}

.homepage-section {
    margin: auto;
}

.wrapper {
    max-width: 80vw;
    margin: auto;
}

.logo {
    margin-top: 2rem;
    width: auto;
    height: 80px;
}

.current-page {
    text-decoration: underline;
}

#about-section {
    background-color: #f4f4f4;
    width: 100vw;
    padding: 3rem 0rem 3rem 0rem;
}

#about-section p {
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
}

.homepage-section h2 {
    padding-top: 3rem;
}

.homepage-gallery {
    padding-top: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.beef-gallery, .goods-gallery {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery-img {
    text-align: center;
    width: 250px;
    height: auto;
}

.gallery-img img {
    max-width: 100%;
}

.view-more {
    background-color: rgb(204, 204, 204);
    transition: opacity .5s;
    height: 175px;
    position: relative;
    transition: .5s;
    text-align: center;
    width: 250px;
}

.view-more p {
    transition: .25s
}

.view-more:hover {
    background-color: rgb(107, 44, 44);
    color: white;
}

.view-more:hover p {
    color: white;
}

.view-more p {
    position: absolute;
    bottom: 45%;
    left: 50%;
    margin-left: -52px;
    font-size: 1.2rem;
}

#assortedgoods-section {
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.section-title {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: black;
    color: white;
}

footer p, footer h2, footer li {
    color: white;
}

footer h2 {
    padding-top: 3rem;
    font-size: 1.4rem;
}

.contact-section {
    max-width: 30%;
}

.contact-section a {
    color: white;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.sitemap_list {
    list-style:none;
}

.page-title {
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

#about-content {
    padding-bottom: 3rem;
}

.beef-gallery .gallery-img, .goods-gallery .gallery-img {
    margin-top: 2rem;
}

.gallery-img img:hover {
    opacity: .5;
}

@media only screen and (max-width: 750px) {
    .homepage-gallery {
        flex-flow: column;
        align-items: center;
    }

    .homepage-gallery .gallery-img, .view-more {
        margin-top: 2rem;
    }
    
    nav ul {
        max-width: 100vw;
    }

}

@media only screen and (min-width: 751px) and (max-width: 1250px) {

    .homepage-gallery {
        flex-flow: column;
        align-items: center;
    }

    .homepage-gallery .gallery-img, .view-more {
        margin-top: 2rem;
    }

    .hero-header {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        flex-flow: column;
        align-items: flex-end;
        padding-right: 2rem;
    }

    .logo {
        margin-left: 2rem;
    }
}
